chromium
vlc
GIMP
obs-studio
qBittorrent
StarUML
StardewValley

dconf
git
gtk-2.0
gtk-3.0
gtk-4.0
pulse
gcolor3
pavucontrol.ini
mimeapps.list
QtProject.conf

nvim
lvim
Code

zsh/plugins/*
zsh/histfile
zsh/.zcompdump

tmux/plugins
tmux/resurrect

ranger/plugins
