GIMP/*
QtProject.conf
StardewValley/*
chromium/*
dconf/*
gcolor3/*
git/*
gtk-2.0/*
gtk-3.0/*
gtk-4.0/*
mimeapps.list
obs-studio/*
pavucontrol.ini
pulse/*
qBittorrent/*
vlc/*

nvim

zsh/plugins/*
zsh/histfile
zsh/.zcompdump

tmux/plugins
tmux/resurrect

ranger/plugins
