// Auto-start
spawn-at-startup "gammastep"
spawn-sh-at-startup "swww-daemon & swww img ~/Pictures/Wallpapers/current"
spawn-sh-at-startup "swww-daemon -n bottom & swww img ~/Pictures/Wallpapers/current-blur -n bottom"
spawn-at-startup "kded6"
spawn-at-startup "waybar"


// don't show the hotkey tooltip at startup
hotkey-overlay {
  skip-at-startup
}

// ask the clients to omit their client-side decorations if possible.
prefer-no-csd

// The path is formatted with strftime(3) to give you the screenshot date and time.
screenshot-path null
