// https://yalter.github.io/niri/Configuration:-Input
input {
    keyboard {
        xkb {
          layout "us"
          variant "altgr-intl"
        }
    }
    touchpad {
        tap
        natural-scroll
    }
    mouse {}
    warp-mouse-to-focus
    focus-follows-mouse max-scroll-amount="0%"
}
