// https://yalter.github.io/niri/Configuration:-Window-Rules

// Sizes
window-rule {
  match app-id="steam" title="Friends List"
  match app-id="localsend"
  match app-id="com.github.th_ch.youtube_music"
  match app-id="io.github.Qalculate.qalculate-qt"
  match app-id="io.github.Qalculate.qalculate-gtk"
  match app-id="org.pulseaudio.pavucontrol"
  default-column-width { proportion 0.33333; }
}
window-rule {
  match app-id="steam"
  match app-id="zen"
  match app-id="app.zen_browser.zen"
  default-column-width { proportion 0.66667; }
}

// Block apps from screencast
window-rule {
    match app-id="zen" title=".*Private Browsing$"
    match app-id="app.zen_browser.zen" title=".*Private Browsing$"
    block-out-from "screencast"
}

// Wallpaper in overview
layer-rule {
  match namespace="swww-daemonbottom"
  place-within-backdrop true
}
