/* Theme */
@define-color fg       #DCD7BA;
@define-color fg_alt   #C8C093;
@define-color bg       #1F1F28;
@define-color bg_alt   #54546D;
@define-color disabled #727169;

@define-color accent_red      #C34043;
@define-color accent_yellow   #C0A36E;
@define-color accent_green    #76946A;
@define-color accent_cyan     #6A9589;
@define-color accent_blue     #7E9CD8;
@define-color accent_magenta  #957FB8;

/* General */
* {
  font-size: 16px;
  font-family: "Roboto", "Noto Sans CJK JP", "JetbrainsMono Nerd Font Propo";
  margin: 0px;
  padding: 0px;
  min-height: 0px;
  border: none;
  border-radius: 0px;
}

window#waybar {
  background: transparent;
}

/* Geometry */
#hyprland,
#clock,
#audio,
#language,
#system,
#power,
#custom-swaync {
  color: @fg;
  background: @bg;
  border: 2px solid @bg_alt;
  border-radius: 4px;
  padding: 2px 4px;
}
#workspaces button {
  padding: 1px;
}
#window,
#mpris,
#pulseaudio,
#custom-info-wrap,
#disk,
#cpu,
#memory,
#battery,
#tray,
#idle_inhibitor,
#power-profiles-daemon,
#custom-power {
  padding: 0px 4px;
}
window#waybar.empty #window {
  padding: 0;
}
#clock,
#language,
#custom-swaync {
  padding: 0px 8px;
}
#idle_inhibitor,
#power-profiles-daemon,
#custom-power,
#custom-swaync {
  min-width: 14px;
}

/* Colors */
#workspaces button.urgent {
  color: @accent_red;
}
window#waybar.fullscreen #hyprland {
  border: 2px solid @accent_magenta;
}

#mpris {
  color: @accent_yellow;
}
#mpris.paused {
  color: @disabled;
}
#pulseaudio:not(.mic) {
  color: @accent_green;
}
#pulseaudio.mic {
  color: @accent_cyan;
}
#language {
  color: @accent_blue;
}
#disk {
  color: @accent_magenta;
}
#cpu {
  color: @accent_blue;
}
#memory {
  color: @accent_cyan;
}
#battery {
  color: @accent_green;
}
#idle_inhibitor.activated {
  color: @fg_alt;
}
#idle_inhibitor.deactivated {
  color: @disabled;
}
#power-profiles-daemon.performance {
  color: @accent_yellow;
}
#power-profiles-daemon.balanced {
  color: @accent_cyan;
}
#power-profiles-daemon.power-saver {
  color: @accent_green;
}
#custom-power {
  color: @accent_red;
}
